/* Responsividade Grand Prime */
#title-institucional {
    margin-bottom: 10px;
    padding-top: 2vh;

    position: relative;

    text-align: center;
    /* font-size: 1.5rem; */
}

#square {
    margin: 0 auto;
}

#padding-bottom-footer {
    padding-bottom: 15px;
}

.text {
    padding: 5px 0;

    font-family: "arial black";
    border-radius: 20px;

    text-align: center;
}

#text-institucional {
    font-size: 1px;
	color: white;
}

/* Galaxy Fold */
