/* Table de Exibição de Alunos Cadastrados */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

/* width de 100% */
.w-1\1 {
    width: 100%;
}

.color-white {
    color: #fff;
}
.adad-logo {
    width: 6rem;
}

.overflow_scroll {
    overflow-x: scroll;
}

table {
    width: 100%;

    font-family: arial, sans-serif;
}

.title-alunos {
    font-family: "Arial";
    font-size: 0.8rem;
}

#title-form-alunos {
    margin: 0;
    text-align: center;
}

#title-table-alunos {
    color: #fff;
}

.cabecalho-table {
    font-size: 0.65rem;
    font-family: "Arial";
    font-weight: bold;
}

.line-header-alunos {
    border-bottom: 1.5px solid #bfbfbf;
}

.line-body-alunos {
    border-bottom: 1px solid #bfbfbf;
}

td,
th {
    padding-right: 8px;
    font-family: "Roboto", "sans-serif", "Calibri", Helvetica, "Helvetica Neue";
    font-size: 0.6rem;
    color: #fff;
    text-align: center;
}
td {
    color: #bfbfbf;
}
.btn-edit-del {
    align-items: flex-end;
    cursor: pointer;
}
#btn-form-del {
    margin: auto 0;
}

/* form de alterar aluno */
#info-editar {
    font-family: "Roboto", "sans-serif", "Calibri", Helvetica, "Helvetica Neue";
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

#title-sem-alunos {
    margin: 0 auto;
    text-align: center;
}

#text-sem-alunos {
    margin: 0 auto;
    text-align: justify;
    text-decoration: underline;
}

#delete {
    padding: 0;
}

/* Responsividade */
@media screen and (min-width: 280px) {
    .adad-logo {
        width: 9.1rem;
    }

    /* form de alterar aluno */
    #title-sem-alunos {
        font-size: clamp(1.4rem, 1.8rem, 5rem);
    }

    #text-sem-alunos {
        font-size: clamp(1rem, 1.6rem, 4rem);
    }
}

@media screen and (min-width: 640px) {

    .adad-logo {
        width: 12rem;
    }
}

@media screen and (min-width: 1024px) {
    
    #title-table-alunos {
        font-size: 2rem;
    }

    .adad-logo {
        width: 12rem;
    }

    /* form de alterar aluno */
    #title-sem-alunos {
        font-size: clamp(4rem, 4rem, 9rem);
    }

    #text-sem-alunos {
        font-size: clamp(3.5rem, 3.5rem, 4rem);
    }

    /* valores default for desktop */
    td,
    th {
        font-size: 1.5rem;
        margin: 10px 6rem;
        padding: 8px;
    }

    .cabecalho-table {
        font-size: 2rem;
    }
}
