#title-form-contato {
    font-size: 1rem;
    text-align: center;
}

#form-contato {
    margin: 0rem 5%;

    width: 90%;

    border-radius: 10px;
}

#formContato-title {
    font-family: "arial black";
    text-align: center;
    font-size: 0.9rem;
}

#formContato-lbl {
    margin-left: 10px;
    width: 100%;

    display: block;

    font-family: var(--font-family-form);
    font-size: 1rem;

    font-weight: bold;
    text-align: left;
}

#formContato-input,
#formContato-txtarea {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

    background: #fff;

    font-family: "Arial";
    font-size: 1rem;
    font-weight: bold;
    color: black;

    border: none;
    border-radius: 2px;
}

#formContato-input:focus,
#formContato-txtarea:focus {
    border-color: #504f4f;
}

#formContato-txtarea {
    vertical-align: top;
    resize: none;
}

#formContato-enviar {
    margin: 1.5rem 25% 1rem 25%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    width: 50%;

    display: inline-block;

    background: #e6e6e6;
    background: linear-gradient(to bottom, #e6e6e6 5%, #5e6161 100%);

    border: 1px solid #566963;
    border-radius: 4px;

    font-family: Arial;
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    text-decoration: none;

    text-shadow: 0px -1px 0px #c7c7c7;
    box-shadow: inset 0px 1px 3px 0px #f5f5f5;

    cursor: pointer;
}

#formContato-enviar:hover {
    background: #5e6161;
    background: linear-gradient(to bottom, #5e6161 5%, #e6e6e6 100%);
}

#formContato-enviar:active {
    top: 1px;
    position: relative;
}

@media screen and (min-width: 576px) {
    #title-form-contato {
        font-size: 4rem;
    }

    #form-contato {
        margin: 0 auto;
        margin-bottom: 70px;
        padding: 10px;

        width: 50%;

        border: 1px solid #ccc;
        border-radius: 10px;
    }

    #formContato-title {
        font-family: "arial black";
        text-align: center;
        font-size: 2.5rem;
    }

    #formContato-div {
        margin: 25px 10% 0 10%;

        width: 80%;
    }

    #formContato-lbl {
        margin: 0;
        width: 100%;

        display: block;

        font-family: var(--font-family-form);
        font-size: 30px;
        font-weight: bold;
        text-align: left;
    }

    #formContato-input,
    #formContato-txtarea {
        margin: 0;
        margin-top: 10px;

        padding: 5px;
        padding-left: 20px;

        width: 100%;

        background: #fff;

        font-family: "Arial";
        font-size: 25px;
        font-weight: bold;
        color: black;

        border: none;
        border-radius: 6px;
    }

    #formContato-input::placeholder,
    #formContato-txtarea::placeholder {
        color: #a8a8a8;
    }

    #formContato-txtarea {
        height: 100px;

        border-radius: 10px;

        vertical-align: top;
        resize: none;
    }

    #formContato-input:focus,
    #formContato-txtarea:focus {
        border-color: #504f4f;
    }

    #formContato-enviar {
        margin: 25px 25% 10px 25%;
        padding: 12px 38px;

        width: 50%;

        display: inline-block;

        background: #e6e6e6;
        background: linear-gradient(to bottom, #e6e6e6 5%, #5e6161 100%);

        border: 1px solid #566963;
        border-radius: 5px;

        font-family: Arial;
        font-size: 22px;
        color: #000000;
        font-weight: bold;
        text-decoration: none;

        text-shadow: 0px -1px 0px #c7c7c7;
        box-shadow: inset 0px 1px 3px 0px #f5f5f5;

        cursor: pointer;
    }

    #formContato-enviar:hover {
        background: #5e6161;
        background: linear-gradient(to bottom, #5e6161 5%, #e6e6e6 100%);
    }

    #formContato-enviar:active {
        top: 1px;

        position: relative;
    }
}

/* Página Institucional */
#title-institucional {
    margin-bottom: 10px;
    padding-top: 2vh;

    position: relative;

    text-align: center;
    font-size: 1.5rem;
}

#square {
    margin: 0 auto;
}

#padding-bottom-footer {
    padding-bottom: 15px;
}

#text-institucional {
    padding: 5px 0;

    font-family: "arial black";
    font-size: 0.8rem;
}

/* Galaxy Fold */
@media screen and (min-width: 280px) {
    #title-institucional {
        font-size: clamp(1.4rem, 2rem, 5rem);
    }

    #text-institucional {
        font-size: clamp(1rem, 1.4rem, 4rem);
    }
}

@media screen and (min-width: 576px) {
    #square {
        margin-top: 10px;
        width: 80vw;
        height: 90vh;

        text-align: center;
    }

    #text-institucional {
        padding: 70px 60px;
    }
}

@media screen and (min-width: 1024px) {
    #title-institucional {
        font-size: clamp(4.5rem, 4.5rem, 9rem);
    }

    #text-institucional {
        font-size: clamp(3.5rem, 3.5rem, 4rem);
    }
}