
footer {
    width: 100%;
    min-height: 250px;
    background: #e77e41;
    display: flex;
    justify-content: center;
    border-top: 2px solid #a04d0a;
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

footer .boxs:nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: #e2e2e2;
    margin-bottom: 20px;
    text-align: center;

}

.boxs ul li {
    text-align: center;
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: #e2e2e2;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: #a04d0a;
}

.boxs p {
    color: #e2e2e2;
    text-align: justify;
    text-align: center;
}

.footer-content h1 {
    font-size: 15vw;
    text-transform: uppercase;
}

@media (max-width: 950px) {
    footer {
        flex-direction: column;
        min-height: 250px;
        display: flex;
    }

    footer .boxs {
        width: 100%;
        text-align: center;
    }

    footer .boxs:nth-child(4) {
        width: 100%;
    }
}