/* Página Projetos */
#title-projetos {
    margin-bottom: 10px;
    padding-top: 2vh;

    position: relative;

    text-align: center;
    font-size: 1.5rem;
}

.projeto {
    margin: 0.8rem 0.8rem 0.5rem;
    background: #ffffcc;
}

.subtitle-projeto {
    padding: 0.5rem;
    padding-bottom: 0.01rem;

    font-size: 0.8rem;
    text-align: center;
    color: #000000;
    font-family: "arial black";
    font-weight: bold;
}

.ul-projeto {
    padding: 0.3rem;

    list-style-type: square;
    list-style-position: inside;

    font-size: 1rem;
    color: #333333;
    text-align: left;
    font-family: "arial black";
}

#ul-sigla-adad {
    text-align: center;
}

#image-adad {
    margin: 0 auto;
    padding: 0.5rem 0;

    display: flex;
    width: 80px;
}

@media screen and (min-width: 280px) {
    #title-projetos {
        font-size: 0.9rem;
    }

    #image-adad {
        width: 100px;
    }


    .subtitle-projeto {
        font-size: 0.8rem;
    }

    .ul-projeto {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1024px) {
     /* Em análise: -> esses códigos estão quebrando a página inicial do site
     #title-projetos {
        font-size: 1.5rem;
    }

    #image-adad {
        width: 200px;
    }

    .subtitle-projeto {
<<<<<<< HEAD
        font-size: 1.5rem;
=======
        font-size: 1.2rem;
>>>>>>> responsividade
    }

    .ul-projeto {
        font-size: 1rem;
<<<<<<< HEAD
    }
=======
    } */
>>>>>>> responsividade
}