/* Importando fonts para o Projeto ADAD*/
/*  Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*  Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

/* Menu do Site */
@import 'nav/nav.css';

/* Página Institucional */
@import 'institucional/institucional_main.css';

/* Formulário de Contato */
@import 'form-contato/form-contato_main.css';

/* Nossas Reuniões */
@import 'nossas-reunioes/nossas-reunioes_main.css';

/* Página Projetos */
@import 'projetos/projetos_main.css';

/* Seção Momento de Reflexão */
@import 'index/momento-reflexao.css';


/* Rodapé do Site */
@import 'footer/footer.css';

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;

    margin-bottom: 10px;
}

@media screen and (min-width: 280px) {
    main {
        max-height: 900px;
    }
}

.bg-main {
    background: #ffcc99;
}

.bg-div {
    background: #212121;
}

.titlePage {
    font-family: "arial black";

    color: #2b2a2a;
}

.color-primary {
    color: #ff6600;
}

.color-white {
    color: #fff;
    font-weight: bold;
}

.text {
    font-family: "arial black";
    

    border-radius: 10px;
    text-align: center;
}

.px-auto {
    padding-left: auto;
    padding-right: auto;
}