.nav-bar{
    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 12vh;

    display: flex;
    background-image: linear-gradient(45deg, #c9c9c9, #cdcdcd, #d2d2d2, #d6d6d6, #dbdbdb, #dfdfdf, #e4e4e4, #e8e8e8, #eeeeee, #f3f3f3, #f9f9f9, #ffffff);
}

.nav-img {
    width: 20%;
    margin-left: 10%;
}

.nav-space {
    margin-right: 15%;
}

#nav-img-adad {
    margin-left: 4px;
    margin-top: 1px;
    width: 70px;
    cursor: default;
}

#nav-img-igreja {
    width: 100px;
    height: 70px;
}

.nav-menu {
    width: 80%;
    margin-right: 10%;
}

.nav-menu-ul {
    margin-right: 15px;

    width: 67%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: space-around;

    list-style: none;
    float: right;

    font-size: 18px;
}

.nav-btn {
    display: flex;

    text-decoration: none;

    color: #ff6600;
    font-weight: bold;
}