#nav-mobile {
    width: 30%;
    /* in Analisy */
    height: 100%;
    /* end */

    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}


/* Botões para Nav Mobile */

/* Posição Inicial: btn-hamburguer exibe, btn-close oculta */

.btn-mobile-item {
    text-decoration: none;
    color: black;
}

nav #btn-mobile-open {
    display: block;
}

nav #btn-mobile-close {
    display: none;
}

/* Quando clicar no btn-hamburguer: btn-hamburguer oculta, btn-close exibe*/

.none#btn-mobile-open {
    display: none;
}

.show#btn-mobile-close {
    display: block;
}

@media screen and (min-width: 280px) {
    #nav-mobile {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 409px) {
    #nav-mobile {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 640px) {
    #nav-mobile {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    #nav-mobile {
        display: none;
    }

    .nav-mobile-item {
        display: none;
    }
}