/* Nossas Reuniões */

#title-nossas-reunioes {
    margin: 0;
    padding: 0;

    margin-bottom: 10px;
    padding-top: 2vh;

    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

#square {
    margin: 0 auto;
}

#text-nossas-reunioes {
    padding: 5px 0;
    font-size: 0.8rem;
}

@media screen and (min-width: 280px) {
    #title-nossas-reunioes {
        font-size: clamp(1.4rem, 2rem, 5rem);
    }

    #text-nossas-reunioes {
        font-size: clamp(1rem, 1.4rem, 4rem);
    }
}

@media screen and (min-width: 1024px) {
    #title-nossas-reunioes {
        font-size: 1.5rem;
    }

    #text-nossas-reunioes {
        font-size: 1rem;
    }
}