.bandeira-familia {
    margin: 2rem 15vw 0;
    padding-bottom: 2rem;
    
    width: 70vw;
    display: flex;
}

.bandeira-familia > #bandeira-sc{
    width: 30%;
}

.bandeira-familia > #familia{
    width: 70%;
}