#divulgacao-title{
	position: relative; 
	top: -10px;

	text-align: center; 
}

#imagem-logo-adad>img {
    margin-top: 1.7rem;
    max-width: 300px;
}

.p-divulgacao{
	text-align: center;
}

#pg-Divulgation-imagem-biblia-oficial{
	margin: 20px 25%; 
	width: 50%;
}