#divulgacao-title{
	position: relative; 
	top: -10px;

	text-align: center; 
}

#imagem-logo-adad>img {
    margin-top: 1.7rem;
    max-width: 300px;
}

.p-divulgacao{
	color: red;
	text-align: center;
}