/* Fonte Poppins */
@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-nav-footer: #b29269;
    --text-site: #da7438;
}

.bold {
    font-weight: bold;
}

.no-bold {
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Verdana", "Arial", "sans-serif";
}