/* header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;   
    min-height: 19vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    background: var(--bg-nav-footer);
 
}

.logo {
    margin-left: 5%;
    margin-right: 10%;
    
    width: 28%;
    
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #e2e2e2;
    
    cursor: default;
}

a#descritivo_hambuguer {
    display: none;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.links li {
    list-style: none;
}

.links a {
    text-decoration: none;
    font-size: 21px;
    color: #e2e2e2;
    letter-spacing: 1px;
    font-weight: bold;
}

#burger{
    padding: 10px;
    display: none;
    color: white;
    cursor: pointer;
}    

/* Responsividade */
@media screen and (max-width:1024px) {
    .links {
        width: 60%;
    }
}

@media screen and (max-width:800px) {
    a#descritivo_hambuguer {
            display: flex;
            text-decoration: none;
            font-size: 21px;
            color: #e2e2e2;
            letter-spacing: 1px;
            font-weight: bold;
        }



    #links{
        list-style-type: none;
        visibity: hidden;
        display: none;
    }

    #burger{
        width: 40%;
        display: block;
        text-align: left;
    }
}