/* Página Inicial */
.foto-inicial {
    height: 64vh;
    width: 100%;

    position: static;
    top: 0;
    left: 0;
    object-fit: cover;
}

.slogan-inicio{
    margin: 0;
    padding: 0;
    
    width: 100vw;
    align-items: center;

    display: flex;
 
    background: #311205;
    border-bottom: 2px solid #e77e41;
}

.slogan-inicio img{
    margin-left: 3%;
    width: 35vw;
}


.slogan-inicio > h1 {
    
    padding-top: 1vh;

    width: 70%;
        
    text-align: left;
    font-size: 56px;
    color: #dd7e06;

    cursor: default;
}

hr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100vw;

    border: 2px solid #e77e41;

    margin-top: 10px;
}

h2,
h3 {
    padding-top: 30px;
}

h3 {
    color: #da7438;
}

@media screen and (min-width: 600px){
    .slogan-inicio img{
    margin-left: 3%;
    width: 30vw;
    }
}

@media screen and (min-width: 800px){
    .slogan-inicio img{
    margin-left: 3%;
    width: 25vw;
    }
}

@media screen and (min-width: 1024px){
    .slogan-inicio img{
    margin-left: 3%;
    width: 20vw;
    }
}