/* Página Institucional */
#title-institucional {
    margin-bottom: 10px;
    padding-top: 2vh;

    position: relative;

    text-align: center;
    font-size: 1.5rem;
}

#square {
    margin: 0 auto;
}

#padding-bottom-footer {
    padding-bottom: 15px;
}

#text-institucional {
    padding: 5px 0;

    font-family: "arial black";
    font-size: 0.8rem;
}

/* Galaxy Fold */
@media screen and (min-width: 280px) {
    #title-institucional {
        font-size: clamp(1.4rem, 2rem, 5rem);
    }

    #text-institucional {
        font-size: clamp(1rem, 1.4rem, 4rem);
    }
}

@media screen and (min-width: 576px) {
    #square {
        margin-top: 10px;
        width: 80vw;
        height: 90vh;

        text-align: center;
    }

    #text-institucional {
        padding: 70px 60px;
    }
}

@media screen and (min-width: 1024px) {
    #title-institucional {
        font-size: clamp(4.5rem, 4.5rem, 9rem);
    }

    #text-institucional {
        font-size: clamp(3.5rem, 3.5rem, 4rem);
    }
}